{% extends 'home/main.html' %}
{% block main %}
    <!--Hero Section-->
    <div class="hero-section hero-background">
        <h1 class="page-title">Organic Fruits</h1>
    </div>

    <!--Navigation section-->
    <div class="container">
        <nav class="biolife-nav">
            <ul>
                <li class="nav-item"><a href="/" class="permal-link">Home</a></li>
                <li class="nav-item"><span class="current-page">Active</span></li>
            </ul>
        </nav>
    </div>

    <div class="page-contain login-page">

        <!-- Main content -->
        <div id="main-content" class="main-content">
            <div class="container">

                <div class="row">

                    <!--Form Sign In-->
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div style="text-align: center;" class="signin-container">
                            <form action="" method="post">
                                {% csrf_token %}
                                <p class="form-row">
                                    <p>We have sent an activation code to this emai: {{user.activecode.email}}</p>
                                    <label s for="fid-name">Enter your pincode:<span class="requite">*</span></label>
                                    <input  type="text" id="fid-name" name="active" value="" class="txt-input">
                                </p>
                                <p class="form-row wrap-btn">
                                    <button  class="btn btn-submit btn-bold" type="submit">Authentication</button>
                                </p>
                            </form>
                        </div>
                    </div>

                    <!--Go to Register form-->
                

                </div>

            </div>

        </div>

    </div>

    {% endblock main %}
