
{% extends "home/main.html" %}
{% block main %}
{% load i18n static %}
			
	
			<div id="content" class="site-content">
				<!-- Breadcrumb -->		
				<div class="container">
					<div class="login-page">
						<div class="login-form form">
							<div class="block-title">
								<h2 class="title"><span>Reset Password</span></h2>
							</div>
						
				
                                
                            <form method="post">{% csrf_token %}
                                    <fieldset class="module aligned">
                                        <input class="hidden" autocomplete="username" value="{{ form.user.get_username }}">
                                        <div class="form-row field-password1">
                                            {{ form.new_password1.errors }}
                                            <label for="id_new_password1">{% translate 'New password:' %}</label>
                                            {{ form.new_password1 }}
                                        </div>
										<br>
                                        <div class="form-row field-password2">
                                            {{ form.new_password2.errors }}
                                            <label for="id_new_password2">{% translate 'Confirm password:' %}</label>
                                            {{ form.new_password2 }}
                                        </div>
                                    
                                    </fieldset>		
								
								<div class="form-group text-center">
									<input type="submit" class="btn btn-primary" value="Sign In">
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
{% endblock main %}




