{% extends 'a_panel/main.html' %}
{% block name %}User Create{% endblock name %}
{% block name_2 %}User Change Password{% endblock name_2 %}
{% block name_2_url %}{% url 'user_all' %}{% endblock name_2_url %}
{% block url_name %}User{% endblock url_name %}

{% block main %}
{% load static %}

    <div style="margin: 10px;">
        
           <form action="" method="post" >
            {% csrf_token %}
            <div class="col-lg-5">
                <div class="mb-3">
                    <label class="form-label" for="basicpill-firstname-input">New password</label>
                    <input type="text" value="{{pas.password}}" class="form-control" name="password_1">
                    <br>
                    
                </div>
                
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

                {% endblock main %}